.author {
  display: flex;
  padding: 14px;
  font-size: 14px;
  background: whitesmoke;
  border-radius: 7px;
}

.contacts {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  font-weight: 400;
  font-size: 12px;
  white-space: nowrap;
  list-style: none outside none;
}

.author .contacts {
  margin: 0;
  padding: 0;
}

.bubble a {
  color: inherit;
}

.contacts a {
  color: var(--black);
  transition: color 0.2s ease-in-out;
}

.author .contact a {
  display: flex;
  align-items: center;
  margin-top: 0;
  margin-right: 12px;
  margin-bottom: 0;
}

.contact::before {
  display: none;
}

.bubble {
  position: relative;
  display: inline-block;
  margin: -8px 16px 16px;
  padding: 7px 13px;
  overflow: visible;
  color: var(--white);
  background: linear-gradient(to right, var(--blue-200), var(--blue-100));
  border-radius: 4px 16px 16px;
  transition: opacity 0.2s ease-in-out;
}

.bubble.subtle {
  opacity: 0.5;
}

.bubble.subtle:hover {
  opacity: 1;
}

.bubble:first-child {
  margin-top: -5px;
}

.bubble + p,
.bubble + div {
  margin-top: 5px;
}

.name {
  margin-bottom: 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

.about {
  margin: 0;
  margin-top: 5px;
}

.contacts a:hover {
  text-decoration: none;
}

.contacts .default-icon:hover {
  color: var(--gray-500);
}

.contacts .blue:hover {
  color: var(--blue-300);
}

.contacts .dark-blue:hover {
  color: var(--blue-400);
}

.contacts a .icon {
  width: auto;
  height: 16px;
  margin-right: 4px;
  vertical-align: bottom;
  fill: currentcolor;
}

.intro-wrapper ol {
  margin: 3px 0;
  padding-left: 24px;
  counter-reset: ol-counter;
}

.bubble .bubble-list-item {
  margin: 0;
  list-style: none outside none;
}

.bubble .bubble-list-item::before {
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
  width: 18px;
  height: 18px;
  margin-top: 3px;
  margin-left: -25px;
  color: var(--blue-200);
  font-weight: bold;
  font-size: 12px;
  font-family: inherit;
  line-height: 20px;
  background: var(--white);
  border-radius: 100%;
  counter-increment: ol-counter;
  content: counter(ol-counter);
}

ul li,
ol li {
  margin: 0;
}

.intro-footer {
  display: inline-block;
}
