.level {
  margin-top: 32px;
  margin-bottom: 16px;
}

.info {
  display: flex;
}

.number {
  flex: 1 0 auto;
}

.name {
  margin-bottom: 0;
  font-weight: bold;
}

.meta {
  display: inline-block;
}

.back-to-top {
  display: inline-flex;
  align-items: center;
}

.back-to-top > svg {
  margin-right: 4px;
}
