.testimonials-details {
  width: fit-content;
  margin-bottom: 4px;
}

.testimonials-summary {
  position: relative;
  display: inline-block;
  cursor: pointer;
  transition: all 0.2s linear;
}

.testimonials-summary:not(.inverted) {
  padding: 0 0 0 20px;
}

.testimonials-summary:not(.inverted)::before {
  position: absolute;
  top: 20%;
  left: 0;
  border-width: 6px 10px;
  border-style: solid;
  border-color: transparent transparent transparent black;
  transform: rotate(0);
  transform-origin: 0.2rem 50%;
  transition: 0.25s transform ease;
  content: '';
}

.testimonials-summary:is(.inverted)::after {
  position: absolute;
  top: 6px;
  right: -30px;
  border-width: 6px 10px;
  border-style: solid;
  border-color: transparent transparent transparent black;
  transform: rotate(0);
  transform-origin: 0.2rem 50%;
  transition: 0.25s transform ease;
  content: '';
}

.testimonials-details[open] > .testimonials-summary::before,
.testimonials-details[open] > .testimonials-summary::after {
  transform: rotate(90deg);
}

.testimonials-description:not(.inverted) {
  margin-left: 18px;
}

.testimonials-description:is(.inverted) {
  margin-top: 5px;
}

.testimonials-details[open] > .testimonials-summary {
  margin-bottom: 8px;
  transition: all 0.2s linear;
}
