.content blockquote {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 0;
  padding: 0 15px;
  border-left: 2px solid #dadee4;
}

.content pre {
  margin: 5px 0;
  padding: 10px;
}

.content pre:first-child {
  margin-top: 0;
}

.content pre:last-child {
  margin-bottom: 0;
}

.content pre code {
  display: block;
  padding: 0;
  color: inherit;
  font-size: 85%;
  font-family: 'SF Mono', 'Segoe UI Mono', 'Roboto Mono', Menlo, Courier,
    monospace;
  line-height: 1.4;
  background: none;
}

.content :not(pre) > code {
  padding: 2px 4px;
  color: #d73e48;
  font-size: 85%;
  line-height: 1.25;
  background: #fcf2f2;
  border-radius: 2px;
}
