.panel {
  display: flex;
  flex-direction: column;
  border: 1px solid #dadee4;
  border-radius: 2px;
}

.panel .panel-header,
.panel .panel-footer {
  flex: 0 0 auto;
  padding: 16px;
}

.panel .panel-header h6 {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.panel .panel-nav {
  flex: 0 0 auto;
}

.panel .panel-body {
  flex: 1 1 auto;
  padding: 0 12px;
  overflow-y: auto;
}

.panel .panel-body:last-child {
  padding: 0 20px 20px;
}
