.wrapper {
  font-size: 14px;
  line-height: 17px;
  cursor: default;
  transform-origin: 0 50%;
  opacity: 0.5;
  transition: all 0.2s linear;
  margin-bottom: 5px;
}

.wrapper:hover {
  transform: scale(1.1);
  opacity: 1;
}
